

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$data-color: #ED6D22;
$it-color: #09CDDA;

$theme-back: #171B1F;
$theme-front: #FFF9E9;

html {
    min-height: 100%;
}

body {
    color: white;
    background-color: #171B1F;
}

.border {
    border: 1px solid black;
}

#logo {
    width: 150px;
    height: 150px;
}

.data *::selection {
    background: $data-color;
}

.it *::selection {
    background: $it-color;
}

#main { /*Fix for the width on xs devices where #main becomes slightly too wide*/
    padding-left: 3em;
    padding-right: 3em;
}

.header-logo {
	margin-top: -3em;
	margin-right: -200px;

	img {
		width: 100px;
		height: 100px;
	}
}

.tabrow {
	border-bottom: 1px solid #ddd;

	ul {
		border-bottom: none;
	}
}

main article {
    font-size: 1.4em;
}

/*.navrow {
	margin-top: 0.4em;
}*/

#nav-header {
    font-size: 1.2em;
    border-right: none;
    border-left: none;
    margin: 0 0 2em 0;
    border-radius: 0;
    .container {
        position: relative;
    }
}

#nav-header.data {
    background-image: linear-gradient(to bottom,$data-color 0%,$theme-back 70%);
    background-repeat: repeat-x;
}

#nav-header.it {
    background-image: linear-gradient(to bottom,$it-color 0%,$theme-back 70%);
    background-repeat: repeat-x;
}

#nav-header.vs {
    // background-image: linear-gradient(to bottom, $it-color 0%, $data-color 30%, $theme-back 70%);
    background-image: linear-gradient(to bottom, $theme-back 0%, $theme-back 70%);
    background-repeat: repeat-x;
}

.dep-logo {
    height: 150px;
    width: 150px;
    position: absolute;
    right: 100%;
}

#footer {
    text-align: center;

    div div {
        opacity: 0.5;
    }
    div:nth-child(2n) {
        border-left: 1px solid $theme-front;
    }
    div:hover {
        opacity: 1;
    }
}

/*
temporary fixes
*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: $theme-back;
    background-color: $theme-front;
}

.nav-tabs>li>a {
    color: $theme-front;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    color: $theme-back;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: $theme-back;
    background-color: #BFBFA9;
}

.nav-pills>li>a {
    color: $theme-front;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus {
    color: $theme-back;
}

#nav-header .tabrow {
    margin-bottom: 6px;
}